.checkout__bill {
    background: #EAF2F5;
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 15px;
}

.checkout__total {
    border-top: 1px solid #ddd;
    padding-top: 30px;
}

@media only screen and (max-width: 768px) {
    .checkout__bill h6 {
        font-size: 0.9rem;
    }

    .checkout__bill {
        margin-top: 40px;
    }
}